name: Deploy Pipelines to GitHub Pages

on:
  push:
    branches:
      - main
    
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
    deploy:
      environment:
        name: github-pages
        url: ${{ steps.deploy-to-github-pages.outputs.page_url }}
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v3
        - name: Setup Pages
          uses: actions/configure-pages@v5
        - name: Upload atifacts
          uses: actions/upload-pages-artifact@v3
          with:
            path: ./
        - name: Deploy to GitHub Pages
          id: deploy-to-github-pages
          uses: actions/deploy-pages@v4